<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %} - Wedevee</title>
</head>
<body>
    <div class="nav">
        <ol>
            <li>Home</li>
            <li>About</li>
            <li>Portfolio</li>
            <li>Log in</li>
            <li>Sign in</li>
        </ol>
    </div>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    
</body>
</html>